<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

<div class="orders-header">
    
      <span class="navbar-text">
        List of all Orders
      </span>
  <%= search_form_for @q, url: :orders, class: "d-flex flex-wrap"  do |form| %>
    <div class="search-field relative">
      <%= form.text_field :order_no_eq, {id: 'search_field',include_blank: true, onkeyup: "cross_show();" }  %>
      <span>
        <%= link_to 'x', orders_path, class: "cross-search hide" %>
      </span>
    </div>
    <%= form.submit class: "btn btn-primary search-button" %>
    <% if shop_domain.present? %>
      <div class="toggle-button">
        <label class="switch" ,data-toggle="tooltip", data-placement="top", title="For enabling and disabling app">
          <input type="checkbox" id="togBtn" onchange="add_remove_script('<%=shop_domain%>');">
          <span class="slider round"></span>
        </label>
      </div>
    <% end %>
  <% end %>
  <% if products.present? %>
    <div class="form-group">
      <label class="control-label" for="tags">Products:</label>
      <%= form_with(url: "/orders/products_choosen", method: :get, local: true) do |f| %>
        <%= select_tag 'product_titles[]', options_for_select(products.map { |p| [p.title, p.title] }, shop.enabled_app_products), multiple: true, size: 10, id: "selected_tags",onchange: "remove_tag()", class: "form-control select2-multi" %>
      <% end %>
    </div>
  <% end %>

</div>
<div class="datail-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th  scope="col">Order/Confirmation #</th>
        <th  scope="col">Title</th>
        <th  scope="col">Asset Type</th>
        <th  scope="col">Asset</th>
        <th  scope="col">Email Status</th>
        <th  scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.order_no %></th>
          <td> <%= order.product_title %> </td>
          <td> <%= order.file_type %> </td>
          <% if order.images.attached? %>
            <td class="product-img"><%= image_tag(order.images.first.blob, size: "100x100")%></td>
          <% elsif order.videos.attached? %>
            <td class="product-img"><%= video_tag(url_for(order.videos.first.blob) + "?t=" + Time.zone.now.to_datetime.to_s, controls: '', size: "100x100") %></td>
          <% else %>
            <td> No Assets </td>
          <% end %>
          <td> <%= Order.where("order_no = ?", order.order_no).first.email_status %> </td>
          <td class="text-center">
            <%= link_to "Show Details", order_path(order.id,shop_domain: shop_domain), class: "link-tag" %>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if orders.empty? %>
  <div class="no-order-text">
    <p> No orders to show </p>
  </div>
<% end %>

<div class="digg_pagination">
  <%= will_paginate orders %>
</div>
<script>
$(document).ready(function(){
  script_check_box = "<%=script_check_box%>"
  document.getElementById('togBtn').setAttribute("checked","checked")
  if (script_check_box == "false")
  {
    document.getElementById('togBtn').removeAttribute("checked")
  }
  $('.select2-multi').select2();
})
  function add_remove_script(shop_domain)
  {
    let text = "Are you sure?";
    if (confirm(text) == true) 
    {
      fetch(`${host_url}/orders/remove_script?toggle=${document.getElementById('togBtn').checked}&shop_domain=${shop_domain}`)
      .then((response) => response.json())
        .then((result) => {
          if (result.script_tag_removed)
          {
            document.getElementById('togBtn').value = "off"
            alert('App is disabled');
          }
          else
          {
            document.getElementById('togBtn').value = "on"
            alert('App is enabled');
          }
        })
        .catch((error) => {
          console.error('Error:', error);
      });
    } 
    else 
    {
      if (document.getElementById('togBtn').checked)
      {
        $('#togBtn').prop('checked',false);
      }
      else
      {
        $('#togBtn').prop('checked',true);
      }
      console.log("You canceled!");
    }
  }
  function remove_tag()
  {
    shop_domain = "<%=shop_domain%>"
    product_titles = $("#selected_tags").val()
    fetch(`${host_url}/orders/products_choosen?product_titles=${product_titles}&shop_domain=${shop_domain}&show_response=false`)
      .then((response) => response.json())
        .then((result) => {
          console.log('Success');
        })
        .catch((error) => {
          console.log('Error');
      });
  }
</script>
