<div class="orders-header">
    
      <span class="navbar-text">
        List of all Orders
      </span>
  <%= search_form_for @q, url: :orders, class: "d-flex flex-wrap"  do |form| %>
    <div class="search-field">
      <%= form.text_field :order_no_eq %>
    </div>
    <%= form.submit class: "btn btn-primary search-button" %>
  <% end %>
</div>
<div class="datail-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th  scope="col">Order #</th>
        <th  scope="col">Title</th>
        <th  scope="col">Asset Type</th>
        <th  scope="col">Asset</th>
        <th  scope="col">Email Status</th>
        <th  scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.order_no.to_s + "-" +(order.product_no + 1).to_s %></th>
          <td> <%= order.product_title %> </td>
          <td> <%= order.file_type %> </td>
          <% if order.images.attached? %>
            <td class="product-img"><%= image_tag(order.images.first.blob, size: "100x100")%></td>
          <% elsif order.video.attached? %>
            <td class="product-img"><%= video_tag(url_for(order.video), controls: '', size: "100x100") %></td>
          <% else %>
            <td> No Assets </td>
          <% end %>
          <td> <%= Order.where("order_no = ?", order.order_no).first.email_status %> </td>
          <td class="text-center">
            <%= link_to "Show Details", order_path(order.id), class: "link-tag" %>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if orders.empty? %>
  <div class="no-order-text">
    <p> No orders to show </p>
  </div>
<% end %>

<div class="digg_pagination">
  <%= will_paginate orders %>
</div>
