<div id="orders"><br></div>
	<nav class="navbar bg-light">
		<div class="container-fluid">
			<span class="navbar-text">
				List of all Orders
			</span>
		</div>
	</nav>   
	<div class="datail-table">
		<table class="table table-hover">
			<thead>
				<tr>
					<th  scope="col">Order #</th>
					<th  scope="col">Title</th>
					<th  scope="col">Asset Type</th>
					<th  scope="col">Asset</th>
					<th  scope="col" class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @orders.each_with_index do |order,index| %>
					<tr class="js-tr">
						<th scope="row"><%= order.order_no %></th>
						<td> <%= order.product_title %> </td>
						<td> <%= order.file_type %> </td>
						<% if order.images.attached? %>
							<td class="product-img"><%= image_tag(order.images.first.blob, size: "100x100")%></td>
						<% elsif order.video.attached? %>
							<td class="product-img"><%= video_tag(url_for(order.video), controls: '', size: "100x100") %></td>
						<% end %>
						<td class="text-center">
							<%= link_to "Show Details", order_path(order.id), class: "link-tag" %>    
						</td>
					</tr>
				<% end %>
			</tbody>
    </table>
  <%= will_paginate @orders %>